@import '../../../../../styles/vars';

.table {
  width: 972px;
  vertical-align: middle;
}

.headers {
  &:last-child {
    width: 24px;
  }
}

.users {
  display: flex;
  gap: 12px;
}

.bun {
  width: 24px;
}

.pagination {
  justify-content: flex-start;
}
