.box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 800px;
  height: 314px;
}

.box::before {
  content: '';

  position: absolute;
  z-index: 1;
  inset: -3px;

  background: #fff;
}

.box::after {
  content: '';

  position: absolute;
  z-index: 2;
  inset: -3px;

  background: #fff;
  filter: blur(40px);
}

.box::before,
.box::after {
  background: linear-gradient(235deg, #cc1439, #d5dae0, #397df6);
}
