/*.recaptchaContainer div div iframe {*/
/*    border: none !important;*/
/*    background-color: transparent !important;*/
/*}*/
.recaptchaContainer {
    display: inline-block;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    width: 301px;
    height: 75px;
}