@import "../../../../styles/vars.scss";

.link {
  font-size: $font-size-xxl;
  line-height: $font-size-xxl-line-height;
  font-weight: 600;

  span {
    font-size: $font-size-xs;
    line-height: $font-size-xs-line-height;
  }

  .admin {
    font-weight: 600;
  }

  .super {
    margin-left: -7px;
    font-weight: 400;
  }
}
