@import '../../../../../styles/vars';

.options {
  position: relative;
}

.toggle {
  vertical-align: middle;

  &.active {
    color: $color-primary-500;
  }
}

.btn {
  display: flex;
  gap: 12px;

  &:hover {
    color: $color-primary-500;
  }
}

.list {
  position: absolute;
  z-index: 1;
  right: 0;

  display: none;
  gap: 12px;

  min-width: 178px;
  padding: 12px;

  background: $color-dark-500;
  border: 1px solid $color-dark-100;
  border-radius: 2px;

  &.active {
    display: flex;
    flex-direction: column;
  }
}
