@import '@/styles/vars';

// sm:inline-flex sm:self-start sm:w-auto sm:mt-9 sm:mb-16'

.pagination {
  display: inline-flex;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 64px;
}

.tableHeaders {
  padding-right: 64px;
  padding-left: 24px;
}

.tableCells {
  padding-right: 64px;
  padding-left: 24px;
}
