@import '../../../../styles/vars.scss';

.navbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 60px);
  padding-top: 72px;
  padding-left: 60px;
  padding-bottom: 36px;
  border-right: 1px solid $color-dark-300;
}
