@import '../../../../../styles/vars';

.btn {
  flex-direction: row-reverse;
  gap: 70px;
  justify-content: space-between;
  margin-top: 48px;

  > button {
    width: 130px;
  }
}

.name {
  font-weight: 600;
}

.message {
  margin: 18px 0;
}
