@import '../../../../styles/vars';

.table {
  width: 972px;
  vertical-align: middle;

  &__headers {
    &:last-child {
      width: 24px;
    }
  }

  &__users {
    display: flex;
    gap: 12px;
  }

  &__bun {
    width: 24px;
  }
}

.options {
  position: relative;

  &__toggle {
    vertical-align: middle;

    &.active {
      color: $color-primary-500;
    }
  }

  &__btn {
    display: flex;
    gap: 12px;

    &:hover {
      color: $color-primary-500;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    right: 0;

    display: none;
    gap: 12px;

    min-width: 178px;
    padding: 12px;

    background: $color-dark-500;
    border: 1px solid $color-dark-100;
    border-radius: 2px;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }
}

.modal {
  &__btn {
    flex-direction: row-reverse;
    gap: 70px;
    justify-content: space-between;
    margin-top: 48px;

    > button {
      width: 130px;
    }
  }

  &__name {
    font-weight: 600;
  }

  &__message {
    margin: 18px 0;
  }

  &__select {
  }
}
