@import '@/styles/vars';

.currentUserContainer {
  width: 100%;
  padding: 20px;
}

.back {
  display: flex;
  gap: 12px;
  margin: 24px 0;
}

.nameAndPhotoContainer {
  display: flex;
  gap: 24px;
}

.avatar {
  width: 60px;
}

.username {
  color: $color-light-100;
}

.lightText {
  color: $color-light-900;
}

.userInfoContainer {
  margin-top: 20px;
  display: flex;
  gap: 14px;
  margin-bottom: 30px;
}

.userInfo {
  max-width: 170px;
  width: 100%;
}
